.header-container {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;
}

@media screen and (max-width: 786px) {
    .header-container {
        position: sticky;
        top: 0;
        z-index: 100;
        background: #fff;
    }
    
}